*.pyc
data/*
experiments/*
old_experiments/*
.pytest_cache/*
*.csv
*.png

# deep learning
*.ckpt
lightning_logs/*
wandb/*
results/*
stamp/modeling_approaches/deep_learning/configs/*
!**/default.yaml
stamp/modeling_approaches/deep_learning/models/.gitignore
notebooks/best_checkpoint.pth
tmp/**

*.mdb

# notebooks
**/*gpu*.ipynb
**/*lov*.ipynb
**/*checkpoint.ipynb
notebooks/local_pw/**


#IDE
.vscode/**

# viz_js
js_visualizations/public/data/*
js_visualizations/node_modules/*
js_visualizations/package-lock.json
js_visualizations/package.json

